.buttonStyle {
  padding: 0.5rem 3rem;
  border: 0.2rem solid #FF6400;
  border-radius: 50rem;
  font-size: 2rem;
  color: #000000;
  cursor: pointer;
  text-transform: capitalize;
  background-color: transparent;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.buttonStyle:hover {
  color: #ffffff;
  background-color: #FF6400;
}

.sectionHeading {
  font-size: 4rem;
  padding: 2rem;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
}

.sectionHeading span {
  padding: 0 1rem;
  color: #FF6400;
}

.footerTitle {
  font-size: 2.4rem;
  color: #ffffff;
  font-weight: 500;
  text-align: left;
  text-transform: capitalize;
  padding: 1rem;
}

.footerLink {
  font-size: 1.4rem;
  color: #ffffff;
  text-transform: capitalize;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.footerLink:hover {
  color: #FF6400;
}

@media screen and (max-width: 991px) {
  .header {
    padding: 1rem 5rem;
  }
  .menu .catagory-img {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / 6;
  }
  .menu .menu-content {
    grid-column: 6 / -1;
  }
  .gallery .gallery-content {
    gap: 3rem;
  }
  .gallery .gallery-content .g-card:nth-child(2n + 1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / 7;
  }
  .gallery .gallery-content .g-card:nth-child(2n + 2) {
    grid-column: 7 / -1;
  }
  .order .order-content {
    grid-column: 1 / -1;
  }
  .order .order-content .order-form {
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-column: 1 / 8;
  }
  .order .order-content img {
    grid-column: 8 / -1;
  }
  .footer .contato {
    -ms-grid-column: 2;
    -ms-grid-column-span: 5;
    grid-column: 2 / 7;
  }
  .footer .location {
    -ms-grid-column: 7;
    -ms-grid-column-span: 5;
    grid-column: 7 / 12;
  }
  .footer .quick-links {
    -ms-grid-column: 2;
    -ms-grid-column-span: 5;
    grid-column: 2 / 7;
  }
  .footer .redes-sociais {
    -ms-grid-column: 7;
    -ms-grid-column-span: 5;
    grid-column: 7 / 12;
  }
}
@media (max-width: 768px) {
  #caixa {
    flex-direction: column;
  }
  #caixa .caixa1 {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}
  
  @media (max-width: 768px) {
    #caixa .caixa1 {
      margin-right: 0;
    }
    
    #caixa .icon {
      margin-bottom: 10px;
    }
  }
  
@media screen and (max-width: 768px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 1rem 3rem;
  }
  .header .navbar {
    padding: 2rem 0;
    display: block;
    width: 40%;
    height: calc(100vh - 6rem);
    background-color: #f0f8ff;
    position: absolute;
    top: 6rem;
    right: -100%;
    z-index: 100;
    border-bottom-left-radius: 50%;
    -webkit-box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
  }
  .header .navbar.active {
    right: 0;
  }
  .header .navbar ul {
    margin-top: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    gap: 4rem;
  }
  .header .navbar ul li {
    width: 100%;
  }
  .header #menu-bar {
    display: block;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
  }
  .header #menu-bar.active {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    color: #FF6400;
  }
  .home .home-desc {
    grid-column: 1 / -1;
  }
  .home .home-desc p {
    text-align: center;
    padding: 1rem 3rem;
  }
  .home .home-image {
    grid-column: 1 / -1;
  }
  .home .home-image img {
    width: 80%;
  }
  .home::after, .home::before {
    display: none;
  }
  .about .about-image {
    grid-column: 1 / -1;
  }
  .about .about-desc {
    grid-column: 1 / -1;
    text-align: center;
  }
  .about .about-desc p {
    text-align: center;
  }
  .menu .catagory-img {
    grid-column: 1 / -1;
  }
  .menu .menu-content {
    grid-column: 1 / -1;
  }
  .popular .popular-content .p-card:nth-child(odd) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2 / 12;
  }
  .popular .popular-content .p-card:nth-child(even) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2 / 12;
  }
  .gallery .gallery-content {
    gap: 2rem;
  }
  .gallery .gallery-content .g-card:nth-child(n) {
    grid-column: 1 / -1;
  }
  .order .order-content {
    grid-column: 1 / -1;
  }
  .order .order-content .order-form {
    grid-column: 1 / -1;
  }
  .order .order-content img {
    display: none;
  }
  .footer .contato {
    min-height: auto;
    grid-column: 1 / -1;
  }
  .footer .location {
    min-height: auto;
    grid-column: 1 / -1;
  }
  .footer .quick-links {
    min-height: auto;
    grid-column: 1 / -1;
  }
  .footer .redes-sociais {
    min-height: auto;
    grid-column: 1 / -1;
  }
  .footer .horarios {
    min-height: auto;
    grid-column: 1 / -1;
  }
}

@media screen and (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .header {
    padding: 1rem 2rem;
  }
  .header .navbar {
    width: 70%;
  }

  .order .order-content ul {
    grid-column: 1 / -3;
    font-size: 13px;
  }
}
@media (max-width: 768px) {
  .container {
    font-size: 1.6rem;
  }

  #interactive-block {
    width: 80%;
  }

  .option {
    font-size: 1.8rem;
  }
}
@media (max-width: 800px) {
  .footer-column {
      width: 50%;
      margin-bottom: 30px;
  }
}
@media (max-width: 600px) {
  .footer-column {
      width: 100%;
  }
}
@media (max-width: 768px) {
  .option-button {
    font-size: 1.8rem;
  }

  .option-box {
    flex-direction: column;
    text-align: center;
  }

  .option img {
    margin-bottom: 10px;
  }

  .option h2 {
    font-size: 3.5rem;
  }

  .option p {
    font-size: 1.6rem;
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  .custom-list li {
    font-size: 1.6rem;
  }
}