
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500&family=Roboto:wght@100;300;400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.buttonStyle, .home .home-desc input, .about .about-desc input, .menu .catagory input, .popular .popular-content .p-card input, .order .order-content .order-form button {
  padding: 0.5rem 3rem;
  border: 0.2rem solid #FF6400;
  border-radius: 50rem;
  font-size: 2rem;
  color: #000000;
  cursor: pointer;
  text-transform: none;
  background-color: transparent;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.buttonStyle:hover, .home .home-desc input:hover, .about .about-desc input:hover, .menu .catagory input:hover, .popular .popular-content .p-card input:hover, .order .order-content .order-form button:hover {
  color: #ffffff;
  background-color: #FF6400;
}

.sectionHeading, .menu h2, .popular h2, .gallery h2, .order h2, .color h2 {
  font-size: 4rem;
  padding: 2rem;
  font-weight: 700;
  text-align: center;
  text-transform: none;
  color: #000000;
}

.sectionHeading span, .menu h2 span, .popular h2 span, .gallery h2 span, .order h2 span, .color h2 span {
  padding: 0 1rem;
  color: #FF6400;
}

.footerTitle, .footer .contact-info h4, .footer .location h4, .footer .quick-links h4, .footer .follow-us h4 {
  font-size: 2.4rem;
  color: #ffffff;
  font-weight: 500;
  text-align: left;
  text-transform: none;
  padding: 1rem;
}

.footerLink, .footer .location ul li a, .footer .quick-links ul li a, .footer .follow-us ul li a {
  font-size: 1.4rem;
  color: #ffffff;
  text-transform: none;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.footerLink:hover, .footer .location ul li a:hover, .footer .quick-links ul li a:hover, .footer .follow-us ul li a:hover {
  color: #FF6400;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1.4rem;
}

html::-webkit-scrollbar-track {
  background: #e9e9e9;
}

html::-webkit-scrollbar-thumb {
  background: rgb(155, 154, 154);
}

body {
  max-width: 1200px;
  margin: auto;
  background-color: #ffffff;
  position: relative;
  overflow-x: hidden;
  box-shadow: 0rem 0.3rem 2rem rgba(131, 130, 130, 0.164);
}

h1,
h2,
h3,
h4 {
  font-family: 'Oswald', sans-serif;
}

a {
  text-decoration: none;
}

a,
button,
input[button],
input[submit] {
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

ul {
  list-style-type: none;
}

section {
  padding: 3rem 1rem;
}

.header {
  max-width: 1200px;
  width: 100%;
  height: 6rem;
  padding: 1rem 8rem;
  background-color: white;
  -webkit-box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  position: fixed;
  top: 0;
  z-index: 100;
}

.header .header-logo {
  text-align: center;
  padding: 0 1rem;
}

.header .header-logo img {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.header .navbar {
  padding: 0 1rem;
}

.header .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.header .navbar ul li {
  text-align: center;
}

.header .navbar ul li a {
  font-size: 2rem;
  text-transform: none;
  margin: 0 0.5rem;
  font-weight: 500;
  color: #000000;
}

.header .navbar ul li a:hover, .header .navbar ul li a.active {
  color: #FF6400;
  border-bottom: 0.2rem solid #FF6400;
}

.header #menu-bar {
  font-size: 3rem;
  padding: 1rem;
  cursor: pointer;
  display: none;
}

.header {
  transition: opacity 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 6rem;
  background-color: white;
  opacity: 1;
  z-index: 100;
  margin: 0 auto;
}

.header-hidden {
  opacity: 0;
}

.home {
  margin: 6rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  position: relative;
  z-index: 0;
}

.home .home-desc {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / 7;
  text-align: center;
}

.home .home-desc h1 {
  color: #000000;
  padding: 1rem;
  font-size: 5rem;
  font-weight: 700;
  text-transform: none;
  text-align: center;
}

.home .home-desc p {
  color: #333333;
  padding: 1rem;
  font-size: 1.8rem;
  line-height: 1.5;
  text-transform: none;
  text-align: left;
}

.home .home-desc input {
  margin-top: 3rem;
}

.home .home-image {
  grid-column: 7 / -1;
  text-align: center;
}

.home .home-image img {
  width: 100%;
}

.home::after, .home::before {
  content: "";
  position: absolute;
  top: 0;
  right: -6rem;
  background-color: #e9e9e9;
  border-radius: 3rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  height: 40rem;
  width: 70rem;
  z-index: -2;
  -webkit-animation: animate 1.5s linear 1;
          animation: animate 1.5s linear 1;
}

.home::before {
  top: -7rem;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.2);
  z-index: -1;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: rotate(50deg) translateY(-40rem);
            transform: rotate(50deg) translateY(-40rem);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: rotate(50deg) translateY(-40rem);
            transform: rotate(50deg) translateY(-40rem);
  }
}

.about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  min-height: 50rem;
}

.about .about-image {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / 7;
  height: 100%;
  background-image: url(./../../images/fremplest-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.about .about-image img {
  display: block;
  width: 100%;
  height: 100%;
}

.about .about-desc {
  grid-column: 7 / -1;
}

.about .about-desc h2 {
  color: #000000;
  padding: 1rem;
  font-size: 4rem;
  font-weight: 700;
  text-transform: none;
  text-align: center;
}

.about .about-desc p {
  color: #333333;
  padding: 1rem;
  font-size: 1.6rem;
  line-height: 1.5;
  text-transform: none;
  text-align: left;
}

.about .about-desc input {
  margin: 2rem 3rem;
}

#caixa {
  display: inline-flex;
  padding-top: 2rem;
}

#caixa .icon {
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

#caixa h2 {
  text-align: center;
  padding: 10px;
}

.caixa1 {
  width: 100%;
  display: inline-block;
  background: white;
  text-align: center;
  padding: 2rem;
  padding-top: 2rem;
  margin-right: 2rem;
  position: relative;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  box-shadow: 5px 5px 0px #ff6600;
  transition: transform 0.4s ease-in-out;
}

.caixa1:hover {
  transform: scale(1.05);
}

#caixa .caixa1 p {
  font-size: 1.6rem;
  text-align: center;
  padding: 10px;
}

.menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.menu h2 {
  grid-column: 1 / -1;
}

.menu .catagory {
  grid-column: 1 / -1;
  padding: 2rem 0;
  margin-bottom: 5rem;
  border-top: 0.3rem dashed rgba(0, 0, 0, 0.2);
  border-bottom: 0.3rem dashed rgba(0, 0, 0, 0.2);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu .catagory input.active {
  color: #ffffff;
  background-color: #FF6400;
}

.menu .catagory-img {
  padding: 2rem;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / 7;
  -webkit-box-shadow: 0.2rem 0.4rem 1rem #333333;
  box-shadow: 0.2rem 0.4rem 1rem #333333;
  border-radius: 1rem;
  height: 100%;
}

.menu .catagory-img img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.menu .menu-content {
  grid-column: 7 / -1;
  padding: 1rem;
}

.menu .menu-content .info {
  text-align: left;
}

.menu .menu-content .info h3 {
  padding-top: 1rem;
  font-size: 2.4rem;
  color: #000000;
  font-weight: bold;
  text-transform: none;
}

.menu .menu-content .info h3 span {
  color: #FF6400;
  padding-right: 1rem;
}

.menu .menu-content .info p {
  color: #333333;
  padding: 1rem;
  font-size: 1.6rem;
  line-height: 1.5;
  text-transform: none;
  text-align: left;
  padding: 0 4rem 0;
}

.popular {
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(./../../images/logo-img.png);
  background-repeat: no-repeat;
  background-size: content;
  background-position: center;
  background-attachment: fixed;
}

.popular h2 {
  margin-bottom: 2rem;
}

.popular .popular-content {
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  gap: 4rem;
}

.popular .popular-content .p-card {
  padding: 1rem;
  -webkit-box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.popular .popular-content .p-card img {
  display: block;
  width: 100%;
  height: 100%;
  border: 0.1rem solid #FF6400;
}

.popular .popular-content .p-card h4 {
  color: #000000;
  padding: 1rem;
  font-size: 3rem;
  font-weight: 500;
  text-transform: none;
  text-align: center;
}

.popular .popular-content .p-card .review {
  text-align: center;
}

.popular .popular-content .p-card .review i {
  color: #FF6400;
  font-size: 1.6rem;
}

.popular .popular-content .p-card .price {
  padding: 1rem;
  font-size: 2.6rem;
}

.popular .popular-content .p-card input {
  margin-bottom: 1rem;
}

.popular .popular-content .p-card:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 0.4rem 0.8rem 2rem #333333;
          box-shadow: 0.4rem 0.8rem 2rem #333333;
}

.popular .popular-content .p-card:nth-child(odd) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-column: 2 / 7;
}

.popular .popular-content .p-card:nth-child(even) {
  -ms-grid-column: 7;
  -ms-grid-column-span: 5;
  grid-column: 7 / 12;
}

.gallery .gallery-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  gap: 4rem;
}

.gallery .gallery-content .g-card {
  height: 100%;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.gallery .gallery-content .g-card img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery .gallery-content .g-card h3 {
  position: absolute;
  top: 120%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #000000;
  padding: 1rem;
  font-size: 3rem;
  font-weight: 700;
  text-transform: none;
  text-align: center;
  color: #ffffff;
  opacity: 0.5;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.gallery .gallery-content .g-card::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.gallery .gallery-content .g-card:hover h3 {
  top: 50%;
  opacity: 1;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.gallery .gallery-content .g-card:hover::before {
  top: 0;
}

.gallery .gallery-content .g-card:nth-child(3n + 1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
}

.gallery .gallery-content .g-card:nth-child(3n + 2) {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5 / 9;
}

.gallery .gallery-content .g-card:nth-child(3n + 3) {
  grid-column: 9 / -1;
}


.order h2 {
  text-align: center;
}

.order-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  padding: 1rem;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0)), url(./../../images/lpc-latina.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  margin-top: auto;
}

.custom-list {
  list-style-type: none;
  padding: 0;
}

.custom-list li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 20px;
}

.custom-list li::before {
  content: "\2714";
  color: #000000;
}

.order-content ul {
  padding: 1rem;
  font-size: 20px;
  padding-left: 2rem;
}

.order-content img {
  max-width: 100%;
  border-radius: 1rem;
}

.footer {
  position: relative;
  padding: 50px 0;
  background-size: 100% 100%;
}

.footer-content {
  position: relative;
  z-index: 1;
  padding: 50px;
  background: rgba(255, 255, 255, 0.349);
}

footer::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  background: black;
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./../../images/Samtronicfooter.JPG) no-repeat center center;
  background-size: cover;
}

.footer-first {
  max-width: 1400px;
  padding: 0 4%;
  margin: auto;
}

.footer-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-column {
  width: 25%;
  padding: 0 15px;
}

.footer-column h4 {
  font-size: 25px;
  color: black;
  margin-bottom: 20px;
  font-weight: 500;
  position: relative;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: bold;
}

.footer-column ul {
  list-style: none;
}

.footer-column ul li {
  margin: 10px 0;
  font-size: 1.6rem;
  color: black;
  font-weight: bolder;
}

.footer-column ul li a {
  font-size: 16px;
  color: white;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}

.footer-column ul li a:hover {
  color: #cecdcd;
  padding-left: 10px;
}

.social-media {
  margin-top: 30px;
}

.social-media a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  margin: 0px 10px 0px 10px;
  text-decoration: none;
  border-radius: 50%;
  color: black;
  border: 1px solid black;
  transition: all 0.5s ease;
}

.social-media a i {
  font-size: 20px;
}

.social-media a:hover {
  color: white;
  background-color: black;
}

.footer-column .form-sub input {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  outline: none;
  border: 1px solid white;
  color: white;
  background-color: white;
}

.footer-column .form-sub input::placeholder {
  color: white;
}

.footer-column .form-sub button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  font-size: 17px;
  outline: none;
  border: none;
  cursor: pointer;
  color: #f2f2f5;
  border-radius: 3px;
  font-weight: bold;
  background-color: white;
}

.loc {
  font-size: 4rem;
  padding: 2rem;
  padding-top: 0;
  padding-bottom: 10px;
  font-weight: 700;
  text-align: center;
  text-transform: none;
  color: #000000;
}

.iframe-container {
  overflow: hidden;
}

iframe {
  width: 100%;
  height: 350px;
  border: none;
}

.container {
  font-size: 2rem;
  padding: 2rem;
  text-align: center;
  text-transform: none;
  color: black;
}

#interactive-block {
  position: relative;
  padding: 20px;
  border-radius: 1rem;
  box-shadow: 0rem 0.3rem 2rem rgba(0, 0, 0, 0.2);
  width: 60%;
  margin: 0 auto;
  transition: transform 0.4s linear, box-shadow 0.4s linear;
}

#interactive-block:hover {
  transform: scale(1.02);
  box-shadow: 0.4rem 0.8rem 2rem #333333;
}

#interactive-block img {
  max-width: 100%;
  height: auto;
  border: 1px solid #FF6400;
}


.color {
  text-align: center;
  font-size: 1.6rem;
}

.options {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.option-button {
  margin: 20px;
  cursor: pointer;
  font-size: 2rem;
  height: 60px;
  width: 25%;
  transition: transform 0.4s ease-in-out;
  border: none;
  background-color: white;
  color: black;
  border-radius: 40px;
  box-shadow: 0px 5px 0px #FF6400;
}

.option-button:hover {
  transform: scale(1.05);
}

.option {
  display: block;
}

.option-box {
  padding: 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  box-shadow: 0px 0px 1px 1px lightgray;
  margin: 15px;
  display: flex;
  align-items: center;
  background: url(./../../images/fundo-3.avif);
  background-size: cover;
}

.option img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.option-content {
  flex: 1;
}

.option h2 {
  color: black;
  margin: 10px;
  text-align: left;
  font-size: 50px;
  padding-bottom: 10px;
}

.option p {
  font-size: 1.6rem;
  color: black;
  text-align: left;
  padding-right: 100px;
}